.general-kpi-summary-row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.general-kpi-stat-box {
  min-width: 200px;
}

.general-kpi-stat-box strong {
  font-weight: bold;
}

.general-kpi-stat-box small {
  color: #888;
}

.general-kpi-stat-box a {
  color: #4853a8;
  text-decoration: underline;
}

.general-kpi-stat-box a:hover {
  color: #e74c3c;
}